
.icons {
    color:rgb(61, 60, 63);
    font-size: 50px;
    width: 100%;
    margin-bottom: 100px;
}


body {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 200px;
    background-image: url(../image/image.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    height: 700px;
    
} 


.copy {
    margin-top: 50px;
}


.p1 {
    text-align: center;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}

.p2 {
    text-align: center;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
    font-size: 10px;
    margin-top: 10px;
}
